
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

:root {
  --color-background-light: #ffffff;
  --color-navbar-background-light: #F9F5F6;
  --color-text-light: #1d1d1d;

  --color-background-dark: #1d1d1d;
  --color-navbar-background-dark: #121212;
  --color-text-dark: #ffffff;

  --color-primary: #1877f2;
  --color-secondary: #4267b2;

  --font-family: Arial, sans-serif;
}

.light-theme {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
}

.dark-theme {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

body {
  font-family: var(--font-family);
}

nav {
  padding: 20px;
  display: flex;
  user-select: none;
  justify-content: space-around;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  line-height: 1.5;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

.home-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  position: relative;
  padding: 20px;
}

.home-page-description {
  position: absolute;
  top: 0;
}

.dark-theme .home-page-mainly-syntax {
  background-color: rgb(14, 14, 15); 
  border-radius: 20px;
  padding: 20px;
}

.light-theme .home-page-mainly-syntax {
  background-color: rgb(229, 229, 234); 
  border-radius: 20px;
  padding: 20px;
}

.home-page-mainly-button {
  background-color: #ffffff00;
  border: none;
}

.home-page-mainly-title {
  user-select: none;
}

.home-page-mainly-button img {
  margin-left: 220px;
}

.home-page-content {
  max-width: 50%;
}

.home-page-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.home-page-subtitle {
  font-size: 1.2em;
  padding-left: 50px;
  color: cadetblue;
  margin-bottom: 30px;
}

.logoImage {
  width: 300px;
  height: 300px;
  user-select: none;
  border-radius: 50%;
}

.home-page-reminder {
  font-size: 1.5em;
  padding-top: 300px;
  font-weight: bold;
  margin-bottom: 20px;
}

.home-page-quote {
  font-size: 1em;
  color: var(--color-secondary);
  cursor: pointer;
  margin-bottom: 30px;
}

.home-page-reminder, .home-page-quote {
  padding-left: 40px;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  flex: 1 0 auto;
}

.dark-theme footer {
  background-color: var(--color-navbar-background-dark);
  
}

.light-theme footer {
  background-color: var(--color-navbar-background-light);
}

footer {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-shrink: 0;
}

.footer-links,
.footer-subdomains,
.footer-email {
  display: flex;
  flex-direction: column;
}

.footer-links a,
.footer-subdomains a,
.footer-email a {
  margin-bottom: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-title {
  text-decoration: underline;
  font-weight: 600;
}

.light-theme .footer-links a,
.light-theme .footer-subdomains a,
.light-theme .footer-email a {
  color: var(--color-text-light);
}

.dark-theme .footer-links a,
.dark-theme .footer-subdomains a,
.dark-theme .footer-email a {
  color: var(--color-text-dark);
}

.context-menu {
  background-color: var(--color-navbar-background-light);
  border: 1px solid var(--color-text-light);
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.context-menu button {
  display: block;
  background: none;
  color: var(--color-text-light);
  text-align: left;
  border: none;
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
  font-size: 1em;
}

.dark-theme .context-menu button:hover {
  background-color: #000000;
}

.light-theme .context-menu button:hover {
  background-color: #e4e0e1;
}

.dark-theme .context-menu {
  background-color: var(--color-navbar-background-dark);
  border-color: var(--color-text-dark);
}

.dark-theme .context-menu button {
  color: var(--color-text-dark);
}

.services-page {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap;
}

.services-title-page {
  font-size: xx-large;
  text-align: center;
  width: 100%;
}

.dark-theme .services-button-ai-page {
  cursor: pointer;
  background-color: #0e0e0f;
  border: #555 2px solid;
  padding: 8px 30px;
  border-radius: 0 0 15px 15px;
  color: #ffffff;
  transition: all 0.2s;
}

.dark-theme .services-button-ai-page:hover {
  background-color: #212122;
  border-radius: 0 0 10px 10px;
}

.light-theme .services-button-ai-page {
  cursor: pointer;
  background-color: #f0f0f4;
  border: #ffffff 2px solid;
  padding: 8px 30px;
  border-radius: 0 0 15px 15px;
  color: #000000;
  transition: all 0.2s;
}

.light-theme .services-button-ai-page:hover {
  background-color: #dddde3;
  border-radius: 0 0 10px 10px;
}

.dark-theme .services-disable-button-ai-page {
  cursor:not-allowed;
  background-color: #0e0e0f;
  border: #555 2px solid;
  padding: 8px 30px;
  border-radius: 0 0 15px 15px;
  color: #ffffff;
  transition: all 0.2s;
}

.light-theme .services-disable-button-ai-page {
  background-color: #f0f0f4;
  cursor:not-allowed;
  border: #ffffff 2px solid;
  padding: 8px 30px;
  border-radius: 0 0 15px 15px;
  color: #000000;
}

.services-ai-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  user-select: none;
  margin-top: 20px;
}

.dark-theme .services-ai-page {
  background-color: #131414;
}

.light-theme .services-ai-page {
  background-color: #e4e0e1;
}

.about-us-page {
  padding: 20px;
}

.about-us-page h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
  text-decoration: underline;
}

.about-us-page h2 {
  font-size: 2em;
  margin: 2em 0 1em;
}

.about-us-page p {
  line-height: 1.5;
  margin-bottom: 1em;
}

.about-us-page a {
  color: var(--color-primary);
  text-decoration: none;
}

.about-us-page a:hover {
  text-decoration: underline;
}

.about-us-page ul {
  padding-left: 1em;
}

.about-us-page li {
  margin-bottom: 0.5em;
}

.dark-theme::-webkit-scrollbar {
  color: #ffffff
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

hr {
  width: 100%;
}

.dark-theme hr {
  color: #ffffff;
}

.light-theme hr {
  color: #000000;
}

.NotFound-Page {
  text-align: center;
  align-items: center;
  align-self: center;
}

.NotFound-Button-Page {
  padding: 15px 30px;
  transition: all 0.2s;
  font-weight: 530;
}

.dark-theme .NotFound-Button-Page {
  background-color: #131414;
  color: #fff;
  border: none;
  border-radius: 15px 0 15px 0;
}

.dark-theme .NotFound-Button-Page:hover {
  background-color: #111010;
  border-radius: 0 15px 0 15px;
}

.light-theme .NotFound-Button-Page {
  background-color: #e8e4e6;
  color: #000;
  border: none;
  border-radius: 15px 0 15px 0;
}

.light-theme .NotFound-Button-Page:hover {
  background-color: #ededf0;
  border-radius: 0 15px 0 15px;
}